body {
  background-color: black;
}

.App {
  /*margin: 16px;*/
  padding: 2rem;
}

/* lastpass */
div[id^=__lpform_] {
	display: none !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(/pattern.png) top right repeat;
  width: 100%;
  height: 100%;
}

#login-form {
  opacity: 0.9;
}

.login-prompt {
  display: inline-block;
  transform: rotate(-2deg);
  background-color: hotpink;
  color: white;
  margin: 0 0 0.2rem 0;
}

.flash-message {
  display: inline-block;
  z-index: 1000;
  text-align: center;
  max-width: 270px;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: bold;
  color: white;
  background-color: hotpink;
  padding: 1rem 1rem 1.2rem 1rem;
  border: 2px solid whitesmoke;
  transform: rotate(4deg);
}

#user-posts {
  opacity: 0.9;
  margin: 3rem auto;
  padding: 0 2rem 2rem 2rem;
  width: 50%;
  background-color: whitesmoke;
}
#user-posts h2 {
  padding: 1rem 1rem 0 0;
  margin: 0;
}

#user-posts .username {
  font-weight: bold;
  padding-right: 0.5rem;
}

#login-area {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#login-area .UserInput {
  margin-right: 1rem;
}

.ui.inverted.button.active, .ui.inverted.button:focus {
  color: white;
  background-color: inherit;
}

.ui.button.toggleViewPosts {
  margin-right: 1rem !important;
  background-color: inherit;
  color: white;
  border: 1px solid hotpink;
}

.ui.inverted.button.toggleViewPosts {
  color: white;
  background-color: inherit;
  border: none !important;
}

.ui.image.positioned-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 0.7;
}

.ui.image.positioned-logo:hover {
  opacity: 1;
}
